.otp-container {

  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 30%;
}

.otp-input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  color: rgb(4, 19, 162);
  transition: border-color 0.2s;
}

.otp-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.valideOTP-btn{
  padding: 10px 16px;
  background-color: #1a237e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: large;
  transition: background-color 0.2s;
  margin-top: 20px; 
}

.valideOTP-btn:hover {
  background-color: #283593;
}
